@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;

    --border: 0 0% 90%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 4%;
      --foreground: 0 0% 98%;
      
      --border: 0 0% 15%;
    }
  }

  * {
    @apply border-colors-border;
  }

  body {
    @apply bg-colors-background text-colors-foreground;
  }
}

@font-face {
  font-family: 'Cinzel';
  src: url('/font/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/font/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/font/Quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
