@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root.light {
    --background: 255 255 255;
    --foreground: 10 10 10;

    --border: 230 230 230;

    --gold: 249 217 118;
    --silver: 224 224 224;
    --bronze: 205 127 50;
  }

  :root.dark {
    --background: 10 10 10;
    --foreground: 250 250 250;

    --border: 38 38 38;

    --gold: 184 134 11;
    --silver: 160 160 160;
    --bronze: 140 98 57;
  }
}
